{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<h1 class="display-3">DeepAI Examples</h1>
<h4>This web app has live examples of different <a href="https://deepai.org/apis">DeepAI APIs</a>. Try them out below:</h4>

<div id="index-cards">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/caption">Caption</a></h5>
            <p class="card-text">Automatically generate a caption for any image.</p>
            <a href="/caption" class="btn btn-primary">Try It</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/colorize">Colorize</a></h5>
            <p class="card-text">Turn any black and white photo into color.</p>
            <a href="/colorize" class="btn btn-primary">Try It</a>
          </div>
        </div>
      </div>
    </div>  
</div>


{% endblock %}